@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color--one: #d4ecdd;
  --color--two: #345b63;
  --color--three: #152d35;
  --color--four: #112031;
}

.wrapper {
  width: 100%;
}

/* <-- -----------------------HEADER----------------------------- --> */

.header {
  width: 100%;
  height: 80px;
  background-color: var(--color--one);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 4px 1px #3333;

}
body{
  background-color: #ecfff0;
}

span{
  text-decoration: none;
}

.header___content {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header___content > a{
  text-decoration: none;
}

.subnav {
  display: none;
}

.header__nav {
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__list li {
  padding: 0px 20px;
}

.nav__list li a {
  text-decoration: none;
  color: var(--color--four);
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.nav__list li:hover a {
  opacity: 0.5;
  padding: 4px;
  transition: 0.4s;
}

.header__logo {
  font-size: 40px;
  font-weight: bold;
  color: var(--color--three);
  cursor: pointer;
}

.header__logo span {
  color: var(--color--two);
  font-size: 35px;
}

.header__search{
  display: flex;
  position: relative;
}

.header__search .search {
  position: relative;
  padding: 10px 75px 10px 35px;
  border: 2px solid var(--color--four);
  border-radius: 40px;
  margin-right: 10px;
}

.header__search > i {
  top: 32px;
  right: 620px;
  font-size: 20px;
  cursor: pointer;
}



.header__search .account {
  padding: 12px 10px;
  border-radius: 40px;
  border: 2px solid transparent;
  font-weight: bold;
  color: var(--color--four);
  background-color: var(--color--two);
  transition:  0.4s;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.account:hover {
  transition: scale(1.2);
  color: var(--color--one);
  background-color: #112031;
}

.header__search .cart{
  font-size: 35px;
  line-height: 50px;
  color: var(--color--two);
  margin-left: 10px;
  transition: 0.4s;

}

.search__btn{
  position: absolute;
    top: 7px;
    font-size: 25px;
    left: 259px;
    color: var(--color--two);
}


.header__search .cart:hover{
  opacity: 0.8;
}

/* .header__search a {
  position: absolute;
  top: 5px;
  right: 450px;
  font-size: 35px;
  color: var(--color--four);
} */

.content{
    margin-top: 90px;
}

.background__login form{
}


.btn_dk{
    background-color: var(--color--three);
    color: var(--color--one);
}

.btn_dk:hover,.btn_dn:hover{
    opacity: 0.8;
    color: var(--color--one);
}


.btn_dn{
    color: var(--color--four);
    background-color:white;
}

.text-center {
    text-align: center!important;
    background-color:var(--color--two);
    border-radius: 20px;
    background-image: linear-gradient(180deg,#345b63,#d4ecdd);
}
.mx-4{
    border-radius: 30px;
    background-image: linear-gradient(180deg,#345b63,#d4ecdd);

}

.card-footer:last-child {
    background-color: var(--color--one);
    border-radius: 20px;
}
.card-footer > .text-center {
    text-align: center!important;
    border-radius: 20px;
    background-color: var(--color--one);
}

.footer p{
    text-align: center;
}

.detailacc{
  text-align: center;
  margin-top: 50px;

}

.detailacc a{
  padding: 20px 30px;
  background-image: linear-gradient(50deg,#112031,#d4ecdd,#112031);
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--color--four);
  transition: 0.4s;
  text-decoration: none;
}

.detailacc a:hover{
  background-image: linear-gradient(180deg,#112031,#d4ecdd,#112031);

}