@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color--one: #d4ecdd;
  --color--two: #345b63;
  --color--three: #152d35;
  --color--four: #112031;
}

.wrapper {
  width: 100%;
}

/* <-- -----------------------HEADER----------------------------- --> */

.header {
  width: 100%;
  height: 80px;
  background-color: var(--color--one);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 4px 1px #3333;

}
body{
  background-color: #ecfff0;
}

span{
  text-decoration: none;
}

.header___content {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header___content > a{
  text-decoration: none;
}

.subnav {
  display: none;
}

.header__nav {
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__list li {
  padding: 0px 20px;
}

.nav__list li a {
  text-decoration: none;
  color: var(--color--four);
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.nav__list li:hover a {
  opacity: 0.5;
  padding: 4px;
  transition: 0.4s;
}

.header__logo {
  font-size: 40px;
  font-weight: bold;
  color: var(--color--three);
  cursor: pointer;
}

.header__logo span {
  color: var(--color--two);
  font-size: 35px;
}

.header__search{
  display: flex;
  position: relative;
}

.header__search .search {
  position: relative;
  padding: 10px 75px 10px 35px;
  border: 2px solid var(--color--four);
  border-radius: 40px;
  margin-right: 10px;
}

.header__search > i {
  top: 32px;
  right: 620px;
  font-size: 20px;
  cursor: pointer;
}



.header__search .account {
  padding: 12px 10px;
  border-radius: 40px;
  border: 2px solid transparent;
  font-weight: bold;
  color: var(--color--four);
  background-color: var(--color--two);
  transition:  0.4s;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.account:hover {
  transition: scale(1.2);
  color: var(--color--one);
  background-color: #112031;
}

.header__search .cart{
  font-size: 35px;
  line-height: 50px;
  color: var(--color--two);
  margin-left: 10px;
  transition: 0.4s;

}

.search__btn{
  position: absolute;
    top: 7px;
    font-size: 25px;
    left: 259px;
    color: var(--color--two);
}


.header__search .cart:hover{
  opacity: 0.8;
}

/* .header__search a {
  position: absolute;
  top: 5px;
  right: 450px;
  font-size: 35px;
  color: var(--color--four);
} */



/* <!-------------------------CONTENT----------------------------- --> */

.content{
    width: 1200px;
    margin: auto;
    margin-top: 90px;
  background-color: var(--color--one);

}

.content__box{
  background-color: var(--color--one);
    width: 98%;
    margin: auto;
    margin-top: 10px;
}

.box_header{
    padding: 10px 0px 0px 10px;
}

.box_header i{
    color: rgb(203, 203, 9);
}


.box_content{
    display: flex;
    margin-top: 20px;
}

.content_img{
    width: 45%;
    
}


.breadcrumb-item a{
  color: var(--color--three);

}

.breadcrumb-item:hover a{
  color: var(--color--three);
}


.box{
    width: 89%;
    margin-left:10px;
    margin-top: 30px;
    border: 1px solid var(--color--three);
    padding: 10px 5px;
    border-radius: 4px;
    background-image: linear-gradient( #345b63,#d4ecdd);
    
}

.box > h4{
    text-align: center;
    border-bottom: 1px solid var(--color--three);
    font-weight: bold;
    color: var(--color--one);
}

.content_img img{
    width: 470px;
    height: 470px;
    border: 1px solid var(--color--three);
    border-radius: 20px;
    margin-left: 10px;
}
.content_price{
    width: 35%;
  }

.price{
  display: flex;
  justify-content: space-between;
  margin-right:30px;
}

.price p:first-child{
  background-color: var(--color--three);
  border-radius: 4px;
  padding-right: 100px;
  color: white;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 20px;
}

.price p:last-child{
  border: 1px solid var(--color--three);
  border-radius: 20px;
  text-align: center;
  line-height: 45px;
  padding: 0px 4px;
}

.color{
  display: flex;
  flex-direction: row-reverse;
}

.cl{
  width: 40%;
  font-size: 10px;
  border: 1px solid var(--color--four);
  margin-right: 20px ;
  border-radius: 4px;
}

.cl img{
  width: 30%;
}

.version{
  display: flex;
  font-size: 10px;
  flex-direction: row-reverse;
  margin-top: 20px;

}
.vs{
  width: 40%;
  font-size: 10px;
  border: 1px solid var(--color--four);
  margin-right: 20px ;
  border-radius: 4px;
  padding: 10px 14px;

}

.content_info{
    width: 20%;


}
/* <!-------------------------FOOTER----------------------------- --> */

.footer {
    
    padding-top: 40px;
    width: 100%;
    height: 440px;
    background-color: var(--color--two);
    font-size: 18px;
  }
  
  .contact {
    display: flex;
    justify-content: space-around;
  }
  
  .footer__titile {
    color: var(--color--one);
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .info-list {
    list-style: none;
  }
  
  .info-list li {
    padding: 5px 0px;
  }
  
  .info-list li a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
    font-weight: 700;
  }
  
  .info-list li:hover a {
    color: #020214;
  }
  
  .send-mail {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .input {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--color--four);
    padding-right: 80px;
    background-color: var(--color--one);
    z-index: 1;
    margin-top: 20px;
  }
  
  .send-mes {
    position: relative;
  }
  
  .lable {
    position: absolute;
    top: -25px;
    left: 12px;
    padding: 2px;
    border-radius: 2px;
    z-index: 10px;
    font-size: 20px;
  }
  
  .footer__send > button {
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--color--four);
    background-color: var(--color--three);
    color: var(--color--one);
    transition: 0.4s;
  }
  
  .footer__send > button:hover {
    background-color: transparent;
    letter-spacing: 2px;
  }
  
  .contact__icon {
    background-color: var(--color--three);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons {
    margin-right: 50px;
  }
  .icon {
    text-decoration: none;
    font-size: 60px;
    color: var(--color--one);
    margin-left: 50px;
    transition: 0.4s;
  }
  
  .icon:hover {
    opacity: 0.8;
  }

  .btn-top{
    padding: 5px 10px;
    width: 95%;
    margin-top: 20px;
  }
  .discount .box {
    margin-left: 0px;
    width: 95%;
  }

  .btn-bottom{

    display: flex;
    margin-top: 20px;
    margin-right: 20px;
  }
  .btn-bottom button{
    width: 49.5%;

    background-color: white;
    color: var(--color--four);
    border: none;
    border-radius:4px;
  }
  .btn-bottom button:first-child{
    margin-right: 10px;
  }

  .btn-top{
    background-color: var(--color--two);
    color: var(--color--one);
  }

  .btn-bottom button:last-child{
    padding-right: 10px;
  }


  .btn:hover{
    opacity: 0.9;
  }

iframe{
  float: left;
}

.bt{
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.ex_lborder{
}